.back-button-div{
    padding-top: 120px;
    line-height: 100px;
    transition: .5s;
}

.back-button-icon{
    font-size: larger;
}

.back-button-div:hover{
    font-size: larger;
    transition: .5s;
}
.inputCantidad{
    width: 50px!important;
    border-style: none!important;
    text-align: center;
}

.minusButton{
    font-size: x-large;
    transition: .5s;
}

.plusButton{
    font-size: x-large;
    transition: .5s;
}

.minusButton:hover{
    transition: .5s;
    font-size: xx-large;
}

.plusButton:hover{
    transition: .5s;
    font-size: xx-large;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
    .carrito-card{
        font-size: medium;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767px) and (min-width: 576px) {
    
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991px) and (min-width: 768px) {
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199px) and (min-width: 992px) {
    
}

@media (min-width: 1200px){
    
}